.btn {
    --bs-btn-font-weight: 600;
    --bs-btn-padding-y: 0.5rem;
    &-primary {
        --bs-btn-color: var(--bs-white);
        --bs-btn-disabled-color: var(--bs-white);
        --bs-btn-hover-color: var(--bs-white);
    }

    &-white {
        --bs-btn-disabled-border-color: var(--bs-white);
        &:disabled {
            border: 1px solid var(--bs-btn-disabled-border-color);
        }
    }
}
