.btn {
    --bs-btn-font-weight: 600;
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-color: var(--bs-white);
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-disabled-color: var(--bs-white);
    --bs-btn-hover-color: var(--bs-white);
    outline-width: 1px;
    outline-offset: 2px;
    position: relative;

    &:hover {
        outline-style: solid;
    }

    &-primary {
        --bs-btn-hover-bg: var(--bs-primary);
        outline-color: var(--bs-primary);
    }

    &-light {
        --bs-btn-color: var(--bs-body-color);
        --bs-btn-active-color: var(--bs-body-color);
        --bs-btn-disabled-color: var(--bs-body-color);
        --bs-btn-hover-color: var(--bs-body-color);
        --bs-btn-hover-border-color: var(--bs-light);
        --bs-btn-hover-bg: var(--bs-light);
        outline-color: var(--bs-light);

        &:hover {
            outline-style: solid;
        }
    }

    &-success {
        --bs-btn-color: var(--bs-white);
        outline-color: var(--bs-success);
    }

    &-danger {
        --bs-btn-hover-bg: var(--bs-danger);
        outline-color: var(--bs-danger);
    }

    &-white {
        --bs-btn-disabled-border-color: var(--bs-white);
        --bs-btn-color: var(--bs-secondary-color);
        --bs-btn-hover-color: var(--bs-body-color);
        &:disabled {
            border: 1px solid var(--bs-btn-disabled-border-color);
        }
        &:focus,
        &:active {
            --bs-btn-active-border-color: transparent;
        }
    }

    &-loader {
        display: none;
        position: absolute;
        left: 50%;
        margin-left: -8px;
        top: 50%;
        margin-top: -8px;
    }

    &-transparent {
        --bs-btn-active-border-color: transparent;
    }

    &.loading {
        .btn-loader {
            display: block;
        }
        .btn-content {
            opacity: 0;
        }
    }
}
