.card-wrapper-selected {
    border-radius: var(--bs-border-radius);
    padding: 2px;
    transition: background-image 0.5s;
    background-image: linear-gradient(
        to bottom right,
        var(--bs-border-color-from),
        var(--bs-border-color-to)
    );

    &:hover {
        transition: background-image 0.5s;
        background-image: linear-gradient(
            to top left,
            var(--bs-border-color-from),
            var(--bs-border-color-to)
        );
    }
}
.card {
    --bs-card-border-color: var(--bs-border-color-dimmed);
    transition: border-color 0.3s;

    &.card-item:hover {
        --bs-card-border-color: var(--bs-border-color);
    }
    .card-backdrop {
        display: none;
        background-color: rgb(0 0 0 / 50%);
    }
    &:hover {
        .card-backdrop {
            display: block;
        }
    }

    .voiceover & {
        [state="loading"],
        [state="playing"] {
            .card-backdrop {
                display: block;
            }
        }
    }
}
