.app {
    @extend .min-h-screen;
}

.main {
    max-width: 58rem;
    margin-bottom: 1.75rem;
    @extend .container;
    min-height: 90vh;
}

.toggle-on-hover {
    .show {
        display: none;
    }
    &:hover {
        .hide {
            display: none;
        }
        .show {
            display: block;
        }
    }
}

.bg-writer {
    background-color: var(--bs-warning);
}

.bg-voiceover {
    background-color: var(--bs-success);
}
