// On parent hover hide or display child element
.toggle-on-hover {
    .show {
        display: none;
    }
    &:hover {
        .hide {
            display: none;
        }
        .show {
            display: block;
        }
    }
}
