$radio-checkbox-size: 1.5em;
$radio-checkbox-margin: 2.4em;

.form-label {
    font-weight: 700;
    &.required {
        &:after {
            font-size: 0.75rem;
            line-height: 1rem;
            color: var(--bs-danger);
            content: "*";
        }
    }
}

.form-control {
    min-height: 3rem;
}

.form-select {
    &.border-0 {
        &:focus {
            box-shadow: none;
        }
    }
}

.input-password-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    .form-control {
        padding-right: 50px;
    }
    .input-password-toggle {
        position: absolute;
        right: 10px;
        top: 11px;
        background-color: transparent;
        border: 0;
    }
}

.grow-wrap {
    display: grid;
    max-height: 300px;
    overflow-y: scroll;
    > textarea,
    &::after {
        border: 0;
        grid-area: 1 / 1 / 2 / 2;
    }
    &::after {
        content: attr(data-replicated-value) " ";
        white-space: pre-wrap;
        visibility: hidden;
    }
    > textarea {
        resize: none;
        overflow: hidden;
        border: 0;
        outline: none;
        &:focus {
            outline: none;
        }
    }
    &.grow-wrap-bordered {
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &:focus-within {
            box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
        }
    }
}
