.header {
    box-shadow: 0 12px 24px -4px rgba(145, 158, 171, 0.122);

    .logo-wrapper {
        img {
            opacity: 0.9;
        }

        .logo-name {
            background: -webkit-linear-gradient(#8973f9, #008d14);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .dropdown-menu {
        .card-item {
            width: 140px;
        }
    }
}
