.nav {
    --bs-nav-link-color: var(--bs-body-color);
    --bs-link-color: var(--bs-body-color);
    --bs-nav-underline-link-active-color: var(--bs-primary);
    &.nav-underline {
        --bs-nav-link-color: var(--bs-secondary-color);
        .nav-link.active {
            font-weight: normal;
        }
    }
    &.nav-pills {
        --bs-nav-link-color: var(--bs-secondary-color);
        --bs-nav-link-padding-x: 0.8rem;
        --bs-nav-link-padding-y: 0.3rem;
    }
}
