.voiceover {
    .loading {
        display: none;
    }
    .btn-try {
        width: 90px;
        .wave {
            display: none;
        }
    }
    .btn-play-pause {
        .pause {
            display: none;
        }
    }
    [state="loading"] {
        .btn-try,
        .btn-play-pause {
            @extend .disabled;

            .loading {
                display: block;
            }
            .play {
                @extend .d-none;
            }
        }
    }
    [state="playing"] {
        .btn-try {
            .play {
                @extend .d-none;
            }
            .wave {
                display: block;
            }
        }
        .btn-play-pause {
            .play {
                display: none;
            }
            .pause {
                display: block;
            }
        }
    }
    [state="paused"] {
        .btn-try {
            .wave {
                display: none;
            }
        }
        .btn-play-pause {
            .play {
                display: block;
            }
            .pause {
                display: none;
            }
        }
    }
}
