:root {
    --bs-white: #fff;
    --bs-border-color-dimmed: #f5f6f6;
    --bs-nav-link-color: var(--bs-body-color);
    --bs-link-color: var(--bs-body-color);
    --bs-secondary-color: rgb(63 66 70 / 60%);
    --bs-secondary-color-rgb: 63, 66, 70;
}
