.logo-name {
    font-size: 1.5rem;
    font-weight: 900;
}

$display-font-sizes: (
    1: 5rem,
    2: 4.5rem,
    3: 4rem,
    4: 1.5rem,
    5: 1.125rem,
    6: 2.5rem,
);

.page-heading {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 2rem;
}

h5,
.h5 {
    font-size: 1.15rem;
    font-weight: 800;
}

.text-hover-primary:hover {
    color: var(--bs-primary) !important;
}
.text-hover-secondary:hover {
    color: var(--bs-secondary) !important;
}
.text-hover-success:hover {
    color: var(--bs-success) !important;
}
.text-hover-danger:hover {
    color: var(--bs-danger) !important;
}
.text-hover-warning:hover {
    color: var(--bs-warning) !important;
}
.text-hover-info:hover {
    color: var(--bs-info) !important;
}

.icon {
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIj48cGF0aCBkPSJNMTAwIDBDMjAgMCAwIDIwIDAgMTAwczIwIDEwMCAxMDAgMTAwIDEwMC0yMCAxMDAtMTAwUzE4MCAwIDEwMCAwIi8+PC9zdmc+);
    overflow: hidden;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        color: var(--bs-white);
    }
}
.icon-sm {
    width: 40px;
    height: 40px;
    i {
        font-size: 1.25rem;
    }
}
.icon-md {
    width: 50px;
    height: 50px;
    i {
        font-size: 1.5rem;
    }
}
.icon-lg {
    width: 65px;
    height: 65px;
    i {
        font-size: 2.25rem;
    }
}
