$font-family-sans-serif: "Nunito", sans-serif !default;
$font-family-base: $font-family-sans-serif;
$headings-font-family: "Nunito", sans-serif !default;

$body-bg: #ffffff !default;
$body-color: #3f4246 !default;

$primary: #846cf9 !default;
$danger: #fe5157 !default;
$warning: #f77e17 !default;
$success: #30c862 !default;
$info: #00a6fb !default;
$light: #f9f9f9 !default;

$placeholder-opacity-max: 0.1 !default;

$font-weight-bolder: 800 !default;
