$font-family-sans-serif: "Nunito", sans-serif !default;
$font-family-base: $font-family-sans-serif;
$headings-font-family: "Nunito", sans-serif !default;

$body-bg: #ffffff !default;
$body-color: #3f4246 !default;

$primary: #846cf9 !default;
