$font-family-sans-serif: "Nunito", sans-serif !default;
$font-family-base: $font-family-sans-serif;
$headings-font-family: "Nunito", sans-serif !default;

$body-bg: #ffffff !default;
$body-color: #3f4246 !default;

$primary: #846cf9 !default;
$danger: #fe5157 !default;
$warning: #f77e17 !default;
$success: #21b752 !default;
$info: #00a6fb !default;
$light: #f5f6f6 !default;

$placeholder-opacity-max: 0.1 !default;

$font-weight-bolder: 900 !default;
$font-weight-bold: 700 !default;
$font-weight-normal: 500 !default;
$font-weight-light: 400 !default;
