html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-size: 100%;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

body {
    max-height: 100vh;
}

.h-screen {
    height: 100vh;
}

.min-h-screen {
    min-height: 100vh;
}

a {
    @extend .text-decoration-none;
    transition: color 0.15s;
    &:hover {
        transition: color 0.15s;
    }
}

hr {
    border-color: var(--bs-border-color-dimmed);
    opacity: 1;
}
