body {
    max-height: 100vh;
}

.h-screen {
    height: 100vh;
}

.min-h-screen {
    min-height: 100vh;
}

a {
    @extend .text-decoration-none;
    transition: color 0.15s;
    &:hover {
        transition: color 0.15s;
    }
}

hr {
    border-color: var(--bs-border-color-dimmed);
    opacity: 1;
}
