body {
    max-height: 100vh;
}

.app {
    min-height: 100vh;
}

.w-md-50 {
    width: 50%;
}

a {
    @extend .text-decoration-none;
}

hr {
    border-color: var(--bs-border-color-dimmed);
    opacity: 1;
}

